.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}